* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
  line-height: 1.5;
}

a {
  color: #000000;
  text-decoration: none;
}

.header {
  width: 100%;
  height: 75px;
  background-color: #ffffff;
  border-bottom: 1px solid #d3d3d3;
  padding: 0 5%;
}

.header h1 {
  padding: 20px 0;
  font-size: 24px;
  font-style: italic;
}

.header ul {
  position: absolute;
  top: 25px;
  right: 5%;
}

.header ul li {
  margin-left: 15px;
  display: inline-block;
}

.header ul li img {
  width: 24px;
  border-radius: 50%;
}

.header ul li button {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
  position: relative;
  top: -10px;
}

.header ul li button:hover {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

.toggle-menu:hover,
.toggle-search:hover {
  cursor: pointer;
}

.menu {
  display: none;
  position: absolute;
  top: 80px;
  right: 5%;
  width: 200px;
  min-height: 100px;
  background-color: #ffffff;
  z-index: 1;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}

.menu ul {
  position: relative;
  top: 0;
  left: 0;
}

.menu ul li {
  margin: 0;
  display: block;
  padding: 10px;
  text-align: center;
}

.menu ul li:hover {
  background-color: #f1f1f1;
}

.search {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  opacity: 0.95;
  text-align: center;
}

.search h1 {
  position: absolute;
  top: 15vh;
  font-size: 24px;
  margin-left: 10%;
}

.search input {
  width: 80%;
  height: 50px;
  margin: 25vh auto;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 5px;
  font-size: 16px;
}

.search input:focus {
  outline: none;
  border: 1px solid #000000;
}

.close-search {
  position: absolute;
  top: 5vh;
  left: 10%;
  font-size: 50px;
}

.close-search:hover {
  cursor: pointer;
  color: red;
}

.container {
  width: 100%;
  min-height: 100px;
  margin: 0 auto;
}

.form {
  width: 500px;
  margin: 0 auto;
}

.form h2 {
  padding: 25px 0;
  font-style: italic;
}

.form-group {
  margin: 25px 0;
}

.form-group input {
  width: 100%;
  height: 40px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 10px;
}

.form-group input:focus {
  outline: none;
  border: 1px solid #000000;
}

.form-group input[type="checkbox"] {
  width: 20px;
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.form-group label {
  font-size: 14px;
}

.form-group input[type="submit"] {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #000000;
}

.form-group input[type="submit"]:hover {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

.form-group textarea {
  width: 100%;
  height: 300px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 10px;
  resize: none;
}

.form-group textarea:focus {
  outline: none;
  border: 1px solid #000000;
}

.form-group img,
.form-group video {
  width: 100%;
}

.message {
  height: 45px;
  padding: 10px;
  border-radius: 5px;
}

.message.error {
  background-color: #ff0000;
  color: #ffffff;
}

.site-notice {
  margin: 25px 0;
  text-align: center;
}

.uploads {
  width: 100%;
  min-height: 100px;
  margin: 0 auto;
  padding: 25px 0;
  text-align: center;
}

.upload-box {
  width: 300px;
  min-height: 300px;
  vertical-align: top;
  margin: 25px;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  display: inline-block;
}

.upload-box h3 {
  margin: 15px 0;
  text-align: left;
  font-weight: normal;
}

.upload-box h5 {
  color: #818181;
  text-align: left;
  margin: 5px 0;
  font-size: 14px;
  font-weight: normal;
}

.upload-box img,
.upload-box video {
  max-width: 100%;
  min-height: 150px;
  max-height: 150px;
}

.info {
  width: 80%;
  min-height: 100px;
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  margin: 50px auto;
  padding: 50px;
}

#profile-picture {
  display: inline-block;
  vertical-align: top;
}

#profile-picture img {
  width: 100px;
}

#user-info {
  margin: 0 0 0 50px;
  display: inline-block;
}

#user-info h2,
#user-info h4,
#user-info h6 {
  padding: 5px 0;
}

#user-info h5 {
  padding: 5px 0;
  font-weight: normal;
}

#user-info button {
  margin: 10px 0 0 0;
  padding: 10px;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
}

#user-info button:hover {
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

.upload {
  width: 60%;
  margin: 50px auto;
  background-color: #ffffff;
  text-align: center;
}

.upload img,
.upload video {
  max-width: 100%;
  max-height: 80vh;
}

.upload-info h3,
.upload-info h4,
.upload-info p {
  text-align: left;
  margin: 10px 0;
  padding: 0 10px;
}

.upload-info h5 {
  font-weight: normal;
  text-align: left;
  padding: 0 10px;
}

.upload-info span {
  float: right;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0 25px 0;
}

.upload-info span img {
  vertical-align: middle;
  margin: 0 5px;
}

.comments {
  width: 60%;
  margin: 25px auto;
  border-top: 1px solid #d3d3d3;
  clear: right;
}

.comments .form {
  margin: 0;
}

.comments .form-group textarea {
  height: 150px;
}

.comment {
  margin: 25px 0;
  padding: 15px 0;
  background-color: #ffffff;
  border-radius: 5px;
}

.comment p {
  margin: 15px 0;
}

.comment h5 {
  color: #818181;
  font-size: 14px;
  font-weight: normal;
}

.results {
  width: 80%;
  min-height: 100px;
  margin: 50px auto;
}

.results h2 {
  font-style: italic;
}

.results ul {
  margin: 25px 0;
  list-style: none;
}

.results ul li {
  display: inline;
  margin-right: 25px;
  font-size: 22px;
}

.results ul li:hover {
  cursor: pointer;
}

.result {
  width: 100%;
  margin: 25px 0;
  padding: 25px;
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  border-bottom: 1px solid #d3d3d3;
}

.result img,
.result video {
  min-width: 150px;
  max-width: 150px;
  max-height: 150px;
  border-radius: initial !important;
}

.error-message {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 50px;
}

.footer {
  border-top: 1px solid #d3d3d3;
}

.footer p {
  font-size: 12px;
  color: #818181;
  text-align: center;
  padding: 25px;
}

@media(max-width: 900px) {
  .comments .form {
    width: 100%;
  }

  .info {
    width: 90%;
  }

  .form,
  .upload,
  .comments {
    width: 80%;
  } 

  #profile-picture,
  #user-info {
    display: block;
    margin: 0;
  }
  
  #profile-picture img,
  #profile-picture video {
    max-width: 100px;
    max-height: 200px;
    margin: 0 25px 25px 0;
  }
}