#video {
  width: 100%;
  border-radius: 5px;
}

.controls {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 2rem;
  position: relative;
  background-color: #000;
  border-radius: 5px;
}

.controls[data-state="hidden"] {
  display: none;
}

.controls button {
  width: 1.5rem;
  height: 1.5rem;
  margin: .5rem;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: none;
  cursor: pointer;
  color: transparent;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.controls button:hover,
.controls button:focus {
  opacity: 0.75;
}

.controls button[data-state="play"] {
  background-image: url("../img/icons/play.svg");
}

.controls button[data-state="pause"] {
  background-image: url("../img/icons/pause.svg");
}

.controls button[data-state="stop"] {
  background-image: url("../img/icons/stop.svg");
}

.controls button[data-state="mute"] {
  background-image: url("../img/icons/mute.svg");
}

.controls button[data-state="unmute"] {
  background-image: url("../img/icons/unmute.svg");
}

.controls button[data-state="vol-up"] {
  background-image: url("../img/icons/volume-inc.svg");
}

.controls button[data-state="vol-down"] {
  background-image: url("../img/icons/volume-dec.svg");
}

.controls button[data-state="go-fullscreen"] {
  background-image: url("../img/icons/fullscreen.svg");
}

.controls .progress {
  flex-grow: 1;
  cursor: pointer;
  border-radius: 5px;
  height: 80%;
}

.controls progress {
  display: block;
  width: 90%;
  height: 100%;
  border: none;
  color: #ffffff;
  margin: 0 auto;
}

.controls progress::-webkit-progress-bar {
  background-color: #000000;
}

.controls progress::-moz-progress-bar {
  background-color: #ffffff;
}

.controls progress::-webkit-progress-value {
  background-color: #ffffff;
}

figure:fullscreen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100%;
  height: 100%;
  background-color: transparent;
}

figure:fullscreen video {
  margin-top: auto;
  margin-bottom: auto;
}

figure:fullscreen .controls {
  position: absolute;
  bottom: 0;
}