# Disable script execution in the uploads directory

<IfModule mod_headers.c>
    Header set Content-Type text/plain
</IfModule>

<FilesMatch "\.(php|phtml|php3|php4|php5|php6|php7|phar|pl|py|cgi)$">
    Require all denied
</FilesMatch>

# This forces the browser to download the file instead of running it.
<IfModule mod_mime.c>
    AddType text/plain .php .phtml .php3 .php4 .php5 .php6 .php7 .phar .pl .py .cgi
</IfModule>
